.grid {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Adjust the ratio between sidebar and content width as needed */
  grid-template-rows: auto;
  grid-template-areas:
      "sidebar content"
      "footer footer";
}
.container{

background-image: url("https://images5.alphacoders.com/310/310426.jpg");}

.sidebar {
  grid-area: sidebar;
  background-color: grey;
}

.content {
  grid-area: content;
  border: 2px solid black;
}

.footer {
  grid-area: footer;
  background-color: green;
}

  
  
  
  @media (min-width: 481px) and (max-width: 767px){
     .nest{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
         
          "two"
          "three"
        }
    }
  
  .title {
    grid-area: title;
    background-color: blue;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: grey;
  }
  
  .content {
    grid-area: content;
       border: 2px solid black;
  
  }
  
  .footer {
    grid-area: footer;
    background-color: green
  }
  
  
  
  .two {
    grid-area: two;
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .three {
    grid-area: three;
    background-color: red
  }
  