.grid {
  display: grid;
  grid-template-columns: .5fr 3.5fr; /* Adjust the ratio between sidebar and content width as needed */
  grid-template-rows: auto;
  grid-template-areas:
      "sidebar content"
      "footer footer";
}
.lead.text {
  color: white; /* Bright white */
  font-weight: bold; /* Increase font weight to make text bolder */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); /* Adding text shadow for better readability */
}
.sidebar {
  grid-area: sidebar;
  background-color: grey;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.container{

background-image: url("https://images5.alphacoders.com/310/310426.jpg");
background-size: cover;
background-repeat: no-repeat;
}



.content {
  grid-area: content;
  border: 2px solid black;
}

.footer {
  grid-area: footer;
  background-color: green;
}

  
  
  
  @media (min-width: 481px) and (max-width: 767px){
     .nest{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
         
          "two"
          "three"
        }
    }
  
  .title {
    grid-area: title;
    background-color: blue;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: grey;
  }
  
  .content {
    grid-area: content;
       border: 2px solid black;
  
  }
  
  .footer {
    grid-area: footer;
    background-color: green
  }
  
  
  
  .two {
    grid-area: two;
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .three {
    grid-area: three;
    background-color: red
  }
  