.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
      "title title"
      "sidebar content"
      "footer footer";
  }
  
  .nest {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "two two three"
      "two two three"
      " two two three"
  }
  
  @media (min-width: 481px) and (max-width: 767px){
     .nest{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
         
          "two"
          "three"
        }
    }
  
  .title {
    grid-area: title;
    background-color: blue;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: grey;
  }
  
  .content {
    grid-area: content;
       border: 2px solid black;
  
  }
  
  .footer {
    grid-area: footer;
    background-color: green
  }
  
  .one {
  
  }
  
  .two {
    grid-area: two;
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .three {
    grid-area: three;
    background-color: red
  }
  